export DEBUG=True
export OSS_ACCESS_KEY_ID=xxx
export OSS_ACCESS_KEY_SECRET=xxx
export OSS_ENDPOINT=xxx
export OSS_BUCKET=xxx
export OSS_DIR=xxx
export OSS_URL_EXPIRE=xxx
export DINGTALK_WEBHOOK=xxx
export DINGTALK_KEYWORD=xxx